body{
  background-color: #badfe7;
  text-align: center;
}

.container1{
  margin-top: 100px;
  width: 450px;
  border: 3px solid;
  padding: 60px;
  background-color: #f2f1ef;
  border-radius: 5%;
}

.pp{
  padding-top: 12px;
  padding-bottom: 12px;
}

.bb{
  padding-top: 80px;
  padding-bottom: 80px;
}

.allign-center{
  text-align: center;
  font-family: 'Ubuntu', sans-serif;
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 4px;
  padding-bottom: 4px;
}

.allign-center:hover{
  color: #388087;
  cursor: pointer;
}
